rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Student/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Student/{parent}/GPAhistory/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/GPAhistory/{document} {
      allow read: if true;
    }


    match /Student/{parent}/Courses/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Courses/{document} {
      allow read: if true;
    }


    match /Course/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
